
.slideover {
  position: absolute;
  width: 300px;
}

.s-icon {
  width: 5px;
  height: 5px;
  background-color: #61AFDE;
  position: absolute;
  bottom: 15px;
  right: 0;
}

.s-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("images/ic_close.png");
  background-size: cover;
  cursor: pointer;
  opacity: 1;
}

.s-close:hover {
  opacity: 0.35;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.slideover-text {
  position: relative;
  cursor: pointer;
  color: #61AFDE;
  font-weight: bold;
}

.slideover__content {
  display: inline-block;
  width: 100%;
  position: absolute;
  max-height: 0;
  bottom: 100%;
  color: #515151;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #EDECEA;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3rem;
  white-space: normal;
  box-sizing: border-box;
  border-top: 4px solid #C0BFBD;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);  }

.slideover__content>div{
  font-size: 16px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.animated-height {
  max-height: 18rem;
  -webkit-transition: max-height 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms;
  -moz-transition: max-height 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms;
  -o-transition: max-height 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms;
  transition: max-height 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms; /* easeOutExpo */
}

.slideover__header {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.slideover__caption {
  background-color: #A4A3A2;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  display: block;
  height: 2rem;
  left: 0;
  line-height: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.slideover__content .slideover__content--invisible {
  opacity: 0;
}

.slideover__content--visible {
  opacity: 1;
  -webkit-transition: opacity ease-in 0.35s .35s;
  -moz-transition: opacity ease-in 0.35s .35s;
  -ms-transition: opacity ease-in 0.35s .35s;
  -o-transition: opacity ease-in 0.35s .35s;
  transition: opacity ease-in 0.35s .35s;
}

.swing
{
  -webkit-animation: swing 0.35s ease-out;
  animation: swing 0.35s ease-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes swing
{
  0%
  {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
  }

  100%
  {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes swing
{
  0%
  {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
  }
  100%
  {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}