
.slideover {
  position: absolute;
  width: 18rem;
}

.s-icon {
  width: 5px;
  height: 5px;
  background-color: #61AFDE;
  position: absolute;
  bottom: 15px;
  right: 0;
}

.s-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url("images/ic_close.png");
  background-size: cover;
  cursor: pointer;
  opacity: 1;
}

.s-close:hover {
  opacity: 0.35;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.slideover-text {
  position: relative;
  cursor: pointer;
  color: #61AFDE;
  font-weight: bold;
}

.slideover__content {
  display: inline-block;
  width: 100%;
  position: absolute;
  max-height: 0;
  bottom: 100%;
  color: #515151;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #EDECEA;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3rem;
  white-space: normal;
  box-sizing: border-box;
  border-top: 6px solid #C0BFBD;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);  }

.slideover__content p {
  margin: 12px;
}

.slideover__content>div{
  font-size: 15px;
  padding: 12px 0.75rem .75rem .75rem;
}

.animated-height {
  max-height: 18rem;

  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 150ms; /* easeOutExpo */
}

.slideover__header {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.slideover__caption {
  background-color: #A4A3A2;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  display: block;
  height: 2.4rem;
  left: 0;
  line-height: 2.4rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.slideover__content .slideover__content--invisible {
  opacity: 0;
}

.slideover__content--visible {
  opacity: 1;
  -webkit-transition: opacity 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 250ms;
  -moz-transition: opacity 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 250ms;
  -o-transition: opacity 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 250ms;
  transition: opacity 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 250ms; /* easeOutExpo */
}
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}